##################################
#           .NET BACKEND
##################################

# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
build/
publish/
out/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Rider / JetBrains
.idea/

# VS Code
.vscode/
!.vscode/extensions.json

# .NET temp / cache
*.cache
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Database files
*.mdf
*.ldf
*.ndf
*.db
*.sqlite

# Secrets & Config
appsettings.json
appsettings.*.json
secrets.json
*.pfx
*.local

# EF Core
**/Migrations/

##################################
#            REACT
##################################

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# Build output
dist/
build/
dist-ssr/

# Env files
.env
.env.development.local
.env.test.local
.env.production.local

##################################
#            OS FILES
##################################

.DS_Store
Thumbs.db

# testing
/coverage
