@use "sass:map";
@import "theme";
@import "responsive";
html,
body {
    height: 100%;
    margin: 0;
}
* {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.button-submit {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background: map.get($theme-colors, "main");
    border: none;
    height: 100%;
}

input,
textarea {
    width: 100%;
    height: 35px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    font-size: 14px;
    color: #b2b2b2;
    border-radius: 3px;

    &:focus {
        outline: none;
    }
}

@include Responsive($DESKTOP) {
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
@include Responsive($MEDIUM_DEVICE) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include Responsive($TABLET_DEVICE) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include Responsive($WIDE_MOBILE) {
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@include Responsive($SMALL_DEVICES) {
    .col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
