@use "sass:map";
@import "../../styles/pages/all";

.quantity-container {
    color: map.get($theme-colors, "description");
    .quantity {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .quantity-btn,
        input {
            width: 40px;
            background: #f5f5f5;
            height: 52px;
        }

        input {
            border: unset;
            border-radius: 0;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}
.product_actions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .btn_add_to_bag {
        flex: 1;
        padding: 12px 10px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        background: map.get($theme-colors, "main");
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;
        transition: background 0.3s ease;

        &:hover {
            background: map.get($theme-colors, "description");
        }
    }

    .btn_favorite {
        display: flex;
        flex: 0;
        align-items: center;
        gap: 6px;
        padding: 10px 40px;
        margin-right: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;

        svg {
            font-size: 18px;
        }

        &:hover {
            border-color: #999;
            background: #f8f8f8;
        }
    }
}
