@use "sass:map";
@import "../../../styles/pages/all";

.table__cart {
    overflow-y: auto;
    table {
        width: 100%;

        thead tr th {
            text-align: start;
        }
        td:first-child {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 20px;
            img {
                width: 100px;
                height: 100px;
            }
        }

        td,
        th {
            padding: 20px 0;
            border-bottom: 1px solid #ebebeb;
        }

        .icon_close {
            cursor: pointer;
            svg {
                transform: rotate(0deg);
                transition: transform 0.6s ease-in-out;
            }

            &:hover {
                color: red;

                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.shopping__continue {
    margin-top: 50px;

    h3 {
        margin-bottom: 10px;
    }

    .shopping__discount {
        display: flex;
        align-items: center;
        padding-right: 20px;
        column-gap: 20px;

        button {
            height: 40px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.shopping__checkout {
    background: #f5f5f5;
    padding: 30px;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    ul li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    button {
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
