@use "sass:map";
@import "../../../../styles/pages/all";

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

.fixed-only .header_search {
    display: none;
}

.fixed-with-search .header_search {
    display: block;
}

.header__top {
    background: #f5f5f5;
}
.header__top_right {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        row-gap: 5px;
        list-style: none;
        a {
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
        }
        li {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;
            span {
                font-size: 14px;
                margin-left: 2px;
            }
        }
    }
}

.header__top_left {
    ul {
        display: flex;
        column-gap: 12px;
        list-style: none;
        padding: 10px 0 13px;

        li {
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            display: flex;
            align-items: center;
        }
        li:first-child {
            gap: 3px;
            position: relative;
            &:after {
                position: absolute;
                right: -7px;
                height: 18px;
                width: 2px;
                background: #000000;
                opacity: 0.1;
                content: "";
            }
        }
    }
}

.header__logo {
    padding: 15px 0;
}

.header__menu {
    padding: 24px 0;

    ul {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        li {
            list-style: none;
            position: relative;
            a {
                text-decoration: none;
                font-size: 14px;
                color: map.get($theme-colors, "bold-text");
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header_menu_dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .active a {
            color: map.get($theme-colors, "main");
        }

        .header_menu_dropdown {
            background-color: rgba(255, 255, 255, 0.7);
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all, 0.3s;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
            transform: translateY(20px);

            li {
                a {
                    text-transform: capitalize;
                    font-weight: 400;
                    padding: 5px 15px;
                    transition: color 0.3s;
                }

                &:hover a {
                    color: map.get($theme-colors, "main");
                }
            }
        }
    }
}

.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    ul {
        display: flex;

        margin-right: 20px;
        li {
            list-style: none;
            position: relative;
            margin-left: 20px;
            svg {
                font-size: 25px;
                color: map.get($theme-colors, "normal-text");
            }
            span {
                color: white;
                background: map.get($theme-colors, "main");
                position: absolute;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 18px;
                font-size: 12px;
                font-weight: bold;
                left: 18px;
                top: -4px;
            }
        }
    }
}

.header_search {
    padding-bottom: 20px;
}
.hero__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
    .hero_search_form {
        flex: 1;
        margin: 0 20px;
        form {
            display: flex;
            align-items: center;
        }
        input {
            flex: 1;
            border: none;
            height: 48px;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 20px;
            border: 1px solid #ebebeb;
            &:focus {
                outline: none;
            }
        }

        button {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 14px 25px;
            background: map.get($theme-colors, "main");
            color: #fff;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: darken(map.get($theme-colors, "main"), 10%);
            }
        }
    }

    .hero__search__phone {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0 20px;
        .hero__search__phone__icon {
            font-size: 22px;
            padding: 12px;
            background: #f5f5f5;
            border-radius: 50%;
            color: map.get($theme-colors, "main");
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hero__search__phone__text {
            p {
                font-weight: bold;
                margin-bottom: 4px;
                color: map.get($theme-colors, "normal-text");
            }
            span {
                font-size: 14px;
                color: #6f6f6f;
            }
        }
    }
}

.hamberger__menu__wrapper,
.humberger_open {
    display: none;
}

@mixin hamburgerMenu {
    .header__top,
    .header__menu,
    .header__cart {
        display: none;
    }

    .humberger_open {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        svg {
            font-size: 30px;
            color: map.get($theme-colors, "normal-text");
        }
    }

    .hamberger__menu__wrapper {
        position: fixed;
        width: 300px;
        background: #ffffff;
        height: 100%;
        overflow-y: auto;
        z-index: 1;
        padding: 30px;
        opacity: 0;
        display: block;
        transition: all, 0.6;

        &.show {
            opacity: 1;
            z-index: 3;
        }
    }

    .menu__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); // nền mờ
        z-index: 2;
    }

    .hamberger__menu__cart {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        ul {
            list-style: none;
            a {
                position: relative;
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 16px;
                color: map.get($theme-colors, "normal-text");
                text-decoration: none;
                font-size: 20px;

                span {
                    position: absolute;
                    background: map.get($theme-colors, "main");
                    color: #fff;
                    font-size: 12px;
                    padding: 2px 6px;
                    border-radius: 50%;
                    left: 10px;
                    bottom: 10px;
                }

                &:hover {
                    color: map.get($theme-colors, "main");
                }
            }
        }

        .header__cart__price {
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            margin-left: 10px;
            span {
                font-weight: 700;
                color: map.get($theme-colors, "main");
            }
        }
    }

    .header__top__right__auth {
        margin-bottom: 15px;

        a {
            font-size: 18px;
            color: map.get($theme-colors, "normal-text");
            text-decoration: none;

            svg {
                margin-right: 6px;
            }

            &:hover {
                color: map.get($theme-colors, "main");
            }
        }
    }

    .humberger__menu_nav {
        ul {
            list-style: none;
            padding: 0;

            li {
                padding: 12px 0;
                border-bottom: 1px solid #f0f0f0;

                a {
                    color: map.get($theme-colors, "bold-text");
                    font-size: 18px;
                    text-decoration: none;

                    &:hover {
                        color: map.get($theme-colors, "main");
                    }

                    svg {
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
            }
        }

        .header__menu__dropdown {
            display: none;
            padding: 5px 0;

            li {
                margin-left: 10px;
                display: block;
                margin-right: 0;

                &:last-child {
                    border-bottom: unset;
                }
            }
        }

        .show__submenu {
            display: block;
        }
    }

    .humberger__menu_social {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 25px;

        a {
            font-size: 20px;
            color: map.get($theme-colors, "normal-text");
            transition: color 0.3s ease;

            &:hover {
                color: map.get($theme-colors, "main");
            }
        }
    }
}

@include Responsive($TABLET_DEVICE) {
    @include hamburgerMenu;
}

@include Responsive($WIDE_MOBILE) {
    @include hamburgerMenu;

    .header__logo {
        font-size: 14px;
    }

    .hero__search {
        .hero__search__phone {
            display: none;
        }
    }

    .hero__item {
        height: 350px;
        padding-left: 20px;
    }
}

@include Responsive($SMALL_DEVICES) {
    @include hamburgerMenu;
    .header__logo {
        font-size: 14px;
    }
    .hero__search {
        .hero__search__phone {
            display: none;
        }
    }

    .hero__item {
        height: 250px;
        padding-left: 10px;
    }
}
